.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') MedFriend
      a(ui-sref=".meds.index") My Meds
    .collapse.navbar-collapse
      ul.nav.navbar-nav
      form.navbar-form.navbar-right
        .form-group
          input.form-control(type='email', placeholder='email')
        .form-group
          input.form-control(type='password', placeholder='Password')
        button.btn.btn-success(type='submit') Sign In
div.container-fluid
  div(ui-view)
